/* -------  General Styles ------- */
body {
  font-family: "Lato", sans-serif;
}

h2 {
  font-size: 26px;
  font-weight: 400;
  margin: 0 10px 10px 10px;
  text-align: center;
}

h3 {
  font-size: 18px;
  font-weight: 500;
}

p {
  line-height: 1.5em;
  margin: 0;
}

section {
  padding: 20px;
}

section.alternate-background {
  background-color: #00a699;
  margin: 10px;
  color: #fff;
}

main img {
  width: 100%;
}

/* ---  Groups & Items --- */
.group {
  display: flex;
  flex-direction: column;
}

.about-group {
  display: flex;
  flex-direction: column;
}

.about-item {
  flex: 1;
  margin: 10px;
  width: 100%;
  justify-content: center;
  align-self: center;
}

.item {
  flex: 1;
  margin: 10px;
  width: 100%;
  justify-content: center;
  align-self: center;
}

.item-double {
  flex: 2;
  margin: 10px;
  width: 100%;
  justify-content: center;
  align-self: center;
}

/* -------  Navigation ------- */
header {
  background-color: #ff385c;
  padding: 20px 20px 0 20px;
  text-align: center;
}

header a {
  text-decoration: none;
  color: white;
}

.logo {
  font-family: "Pangolin", cursive;
  font-size: 40px;
}

header nav ul {
  display: flex;
  justify-content: center;
  padding-right: 15px;
  padding-bottom: 20px;
}

header nav ul li {
  list-style-type: none;
}

header nav ul li a {
  padding: 0 20px 0 0;
}

header nav ul li a:hover {
  color: #bdbdbd;
  text-decoration: none;
}

/* -------  Search Form ------- */
form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 2px solid #ff385c;
  padding: 10px;
}

.form-item {
  display: flex;
  align-content: space-between;
  justify-content: space-between;
}

form label {
  margin-left: 5px;
  font-weight: bold;
}

form select,
form input, form option {
  margin-bottom: 20px;
  margin-right: 5px;
  width: 150px;
}

form button {
  background-color: #ff385c;
  border: none;
  color: #fff;
  font-size: 24px;
  padding: 15px;
  width: 100%;
}

/* -------  Footer ------- */
footer {
  background-color: #ff385c;
}

footer p {
  color: #fff;
  text-align: center;
  padding: 20px;
}

/* -------  Media Query ------- */
@media all and (min-width: 480px) {
  header {
    display: flex;
    padding: 10px 30px;
    flex-wrap: wrap;
  }

  header nav {
    flex: 1;
    margin-top: 17px;
  }

  header nav ul {
    justify-content: right;
  }

  .group {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .item {
    width: 100%;
    flex-basis: 34%;
  }

  .about-group {
    flex-direction: row;
  }

  .about-item {
    width: 100%;
  }

  form {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .form-item {
    flex: 1;
    flex-direction: column;
    min-width: 100px;
    align-content: center;
    justify-content: center;
  }

  form select, form input, form option {
    min-height: 2rem;
    width: auto;
  } 

  .logo {
    display: flex;
    flex: 1;
    padding-right: 0px;
    justify-content: left;
    font-size: 72px;
  }
}